header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
}
.logo{
    margin: 15px 0;
    width: 20%;
    max-height: 10vh;
    margin-right: 5%;
    cursor: pointer;
}
body{
    margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(56, 56, 56, 0.3);
    margin-top: 10px;
    padding: 20px 0;
}
.searchInput{
    font-size: 15px;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(138, 110, 39);
    width: 50%;
    height: 40px;
    justify-self: center;
    background-color: transparent;
}
::placeholder {
    color: rgb(255, 255, 255);
  }

.filterSortContainer{
    display: flex;
    width: 50%;
    gap: 10px;
}
.filterSortSelect{
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(138, 110, 39);
    color: rgb(255, 255, 255);
}
.filterSortSelect option {
    color: black;
    font-weight: bold;
  }
.container-products{
    border: 1px solid red;
    padding: 5%;
}
.product-card{
    border: 1px solid cyan;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-img{
    width: 90%;
}
.icon{
    position: absolute;
    top: 10%;
    right: 15px;
    color: rgb(199, 199, 199);
    font-size: 1.5rem;
    cursor: pointer;
}
.icon:hover{
    color: rgb(138, 110, 39);
}

@media (min-width: 860px) {
    nav{
        flex-direction: row;
        justify-content: center;
    }
    .searchInput{
        width: 30%;
        margin-right: 40px;
    }
    .icon{
        top: 20%;
        font-size: 2.5rem;
    }
}
