.containerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px;
    overflow-wrap: break-word;
    background-color:  rgb(0, 0, 0, 0.9) ;
    padding: 20px 0px 0 0px;
    position: relative;
    color:white;
}
h2{
    font-size: 20px;
}
.goToWpp{
    margin-top: 5px;
    color: black;
    font-weight: bold;
    width: 100%;
    margin-top: auto;
    text-align: center;
    padding: 8px 0;
    background-color:  white ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoWhatsapp{
    margin-right: 10px;

    font-size: 20px;
}
.goToWpp:hover{
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #4f9e45;
    color: white;
}

.productCard img{
    width: 80%;
    height: 100%;
}

.containerImg{
    margin:0 0 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.productDescription{
    margin: 0;
    margin-bottom: 8px;
    max-width: 90%;
}
.productName{
    margin: 0;
}
.containerBtnEdit{
    margin-top: auto;
}
.arrow{
    color: white;
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
    
}
@media (min-width: 860px) {
    .productCard{
        width: 20%;
    }
    .containerImg{
        height: 60%;
    }
}