body{
    margin: 0 auto;
}
header{
    display: flex;
    background-color: #252525;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
.logo-png{
    width: 15%;
    margin-right: 5%;
}
.search-bar{
    width: 30%;
  
    display: flex;
    justify-content: center;
}
.search-bar-input, .filter-sort-select{
    width: 60%;
    padding: 2%;
}
.filter-sort-container{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 80%;
}
.container-products{
    border: 1px solid red;
    padding: 5%;
}
.product-card{
    border: 1px solid cyan;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-img{
    width: 90%;
}